<%- include('./partials/header')%>

<h1>Search for artist</h1>
<form action="/artist-search" method="get" enctype="multipart/form-data">
    <input type="search" name="artistInput" id="artist-input" placeholder="Write here the name of the artist you want to hear">
    <!-- o también podemos usar input type=text -->
    <input type="submit" value="Send">
</form>

<%- include('./partials/footer')%>