<%- include('./partials/header')%>

<h2>Home Seite</h2>
<form action="/artist-search" method="get" enctype="multipart/form-data">
    <input type="search" name="artistInput" id="artist-input" placeholder="Write here the name of the artist you want to hear">
    <input type="submit" value="Send">
</form>

<%- include('./partials/footer')%>